<h2 class="page-title">Update the details for the animal you have lost</h2>
<%= form_tag lost_animal_path(@animal), method: :put do %>
  <label for="">Incident</label>
  <select name="incident_id" id="">
    <% @incidents.each do |incident| %>
      <% if @animal.incident.id === incident.id  %>
        <option value="<%= incident.id %>" selected><%= incident.name %></option>
      <% else %>
        <option value="<%= incident.id %>"><%= incident.name %></option>
      <% end %>
    <% end %>
  </select>
  <label for="">Species</label>
  <select name="species" id="">
    <% @animal_species.each do |species| %>
      <% if @animal.species === species %>
        <option value="<%= species %>"><%= species.capitalize %></option>
      <% else %>  
        <option value="<% species %>"><%= species.capitalize %></option>
      <% end %>
    <% end  %>
  </select>
  <label for="">Date Animal was lost</label>
  <input type="date" name="date_lost" value="<%= @animal.date_lost %>">
  <label for="">Location of the Animal lost</label>
  <input type="text" name="location_lost" value="<%= @animal.location_lost %>">
  <label for="">Image of Animal</label>
  <input type="file" name="image">

  <label for="">Please enter single word tags</label>
    <textarea name="tags" value="tags"><%= @animal.tags.join(' ') %></textarea>
  <label for="">Reunited?</label>
  <select name="reunited" id="">
    <% if @animal.reunited === false %>
      <option value="false" selected>No</option>
    <% else %>
      <option value="true">Yes</option>
    <% end %>
  </select>
  
  <button>Edit Animal</button>
<% end %>
