<h2 class="page-title">Lost Animals</h2>

<div class="search-bar">
  <form action="" class="search-form">
    <input type="text" class="search-input">
    <button>Search</button>
  </form>
</div>

<div class="map-wrapper">
  <div id="mapContainer"></div>
</div>

<div class="results-container">
  <% @lost_animals.each do |animal| %>
    <div class="animal-item">
      <p class="tags"><%= animal.tags.join(' ') %></p>
      <div class="item-header">
        <h3><%= animal.species.capitalize %> lost in <%= animal.location_lost %></h3>
      </div>
      <img src="<%= animal.image.url %>" alt="Lost <%= animal.species %>">
      <h4>Lost at: <%= animal.location_lost %></h4>
      <h4>Date lost: <%= animal.date_lost %></h4>
    </div>
  <% end %>
</div>