<h2 class="page-title">Have you lost an Animal?</h2>
<h5 class="sub-title">Please enter the animals details below.</h5>

<div class="form-container">
  <%= form_tag lost_animals_path, enctype: 'multipart/form-data', method: :post do %>
    <div class="form">
      <label for="">Incident<span>*</span></label>
      <select name="incident_id" id="">
        <% @incidents.each do |incident| %>
          <option value="<%= incident.id %>"><%= incident.name %></option>
        <% end %>
      </select>
      <label for="">Species<span>*</span></label>
      <select name="species" id="">
        <% @species.each do |species| %>
          <option value="<%= species %>"><%= species.capitalize() %></option>
        <% end %>
      </select>
      <label for="">Date Animal was lost<span>*</span></label>
      <input type="date" class="datefield" name="date_lost" required>
      <label for="">Location Animal was lost (please include the city)<span>*</span></label>
      <input type="text" name="location_lost" required>
      <label for="">Please upload image of animal</label>
      <%= file_field :post, :image %>
      <label for="">Please enter single word tags</label>
      <textarea name="tags"></textarea>
      <p>* Required Fields</p>
      <button>Add Animal</button>
    </div>
  <% end %>
</div>
