<h2>Please add the details for the animal you have lost</h2>
<%= form_tag lost_animals_path, enctype: 'multipart/form-data', method: :post do %>
  <label for="">Incident</label>
  <select name="incident_id" id="">
    <% @incidents.each do |incident| %>
      <option value="<%= incident.id %>"><%= incident.name %></option>
    <% end %>
  </select>
  <label for="">Species</label>
  <select name="species" id="">
    <% @species.each do |species| %>
      <option value="<%= species %>"><%= species.capitalize() %></option>
    <% end %>
  </select>
  <label for="">Date Animal was lost</label>
  <input type="date" name="date_lost.date_cannot_be_in_the_past">
  <label for="">Location Animal was lost</label>
  <input type="text" name="location_lost">
  <label for="">Image of Animal</label>
  <%# <input type="url" name="image_url"> %>
  <input type="file" name="image">
  <label for="">Please enter single word tags</label>
  <textarea name="tags"></textarea>

  <%#= label :image %><br>
  <%#= file_field :image_url %>


  <button>Add Animal</button>
<% end %>