<h2 class="page-title">Lost Animal</h2>

<div class="show-container">
  <div class="show-header">
    <h3><%= @animal.species.capitalize %> lost during the <%= @animal.incident.name %> incident</h3>
  </div>
  <div class="show-content">
    <% if @animal.reunited === false %>
      <h4> Animal hasn't been reunited yet</h4>
    <% end %>
    <img src="<%= @animal.image.url %>" alt="">
    <h3>Location lost <span><%= @animal.location_lost %></span></h3>
    <p class="lat"><% @animal.lat %></p>
    <p class="long"><% @animal.long %></p>
    <h3 id="user_location">You are ___ away from ____</h3>
    <h3>Date lost: <span><%= @animal.date_lost %></span></h3>
    <%= link_to "#{@animal.user.name}", "/users/profile/#{@animal.user.id}" %>
    <%if @animal.user.id == session[:user_id]%>
    <a href="<%= edit_lost_animal_path(@animal) %>">Edit Animal</a>
    <%end%>
  </div>
</div>
