<h2 class="page-title">Lost Animal</h2>
<h3><%= @animal.species.capitalize %></h3>
<h4><%= @animal.claim_status %></h4>
<h4><%= @animal.incident.name %></h4>
<img src="<%= @animal.image %>" alt="">
<h3><%= @animal.date_lost %></h3>

