<p><%=@current_user.name%></p>
<p><%=@current_user.email%></p>

<p>Lost Animals</p>
<%@animals_lost.each do |animal_lost|%>
<p><%=animal_lost.species%></p>
<img src='https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&h=350'>
<%end%>

<p>Found Animals</p>
<%@animals_found.each do |animal_found|%>
<p><%=animal_found.species%></p>
<img src='<%=animal_found.image%>'>
<%end%>

