<h2 class="page-title">INCIDENT: <span><%= @incident.name %></span> </h2>

<div class="incident-container">
  <a href="/lost_animals?incident=<%= @incident.id %>">
    <h1>Lost an animal</h1>
    <h3>Current Number Lost: <%= @incident.lost_animals.count %></h3>
  </a>

  <a href="/found_animals?incident=<%= @incident.id %>">
    <h1>Found an animal</h1>
    <h3>Current Number Found: <%= @incident.found_animals.count %></h3>
  </a>
</div>