<h2 class="page-title">Edit your animals details</h2>
<h5 class="sub-title">Please update the animals details below.</h5>
<div class="form-container">
  <%= form_tag found_animal_path(@animal), method: :put do %>
    <div class="form">
      <label for="">Incident</label>
      <select name="incident_id" id="">
        <% @incidents.each do |incident| %>
          <% if @animal.incident.id === incident.id  %>
            <option value="<%= incident.id %>" selected><%= incident.name %></option>
          <% else %>
            <option value="<%= incident.id %>"><%= incident.name %></option>
          <% end %>
        <% end %>
      </select>
      <label for="">Species</label>
      <select name="species" id="">
        <% @animal_species.each do |species| %>
          <% if @animal.species === species %>
            <option value="<%= species %>"><%= species.capitalize %></option>
          <% else %>  
            <option value="<% species %>"><%= species.capitalize %></option>
          <% end %>
        <% end  %>
      </select>
      <label for="">Date Animal was Found</label>
      <input type="date" name="date_found" value="<%= @animal.date_found %>">
      <label for="">Location Animal was Found</label>
      <input type="text" name="location_found" value="<%= @animal.location_found %>">
      <label for="">Current Location of Animal</label>
      <input type="text" name="location_current" value="<%= @animal.location_current %>">
      <label for="">Image of Animal</label>
      <input type="file" name="image">
      <label for="">Health Status</label>
      <select name="health_status" id="">
        <% @health_status.each do |status| %>
          <% if @animal.health_status === status %>
            <option value="<%= status %>" selected><%= status.capitalize %></option>
          <% else %>
            <option value="<%= status %>"><%= status.capitalize %></option>
          <% end  %>
        <% end  %>
      </select>
      <label for="">Please enter single word tags</label>
      <textarea name="tags" value="tags"><%= @animal.tags.join(' ') %></textarea>
      <label for="">Reunited?</label>
      <select name="reunited" id="">
        <% if @animal.reunited === false %>
          <option value="false" selected>No</option>
        <% else %>
          <option value="true">Yes</option>
        <% end %>
      </select>
      <button>Edit Animal</button>
    </div>
  <% end %>
</div>
