<h2>Found Animals</h2>
<% @found_animals.each do |animal| %>
  <a href="<%= found_animal_path(animal) %>">
    <div class="animal-list">
      <img src="<%= animal.image_url%>" alt="Lost <%= animal.species %>">
      <h3><%= animal.species %></h3>
      <h4>Found at: <%= animal.location_found %></h4>
      <h4>Currently at: <%= animal.location_current %></h4>
      <h4>Date Found: <%= animal.date_found %></h4>
      <h4>Date Posted: <%= animal.created_at %></h4>
    </div>
  </a>
<% end %>