<h2 class="page-title">Found Animals</h2>
<form action="" class="search-form">
  <input type="text" class="search-input">
  <button>Search</button>
</form>
<% @found_animals.each do |animal| %>
  <a href="<%= found_animal_path(animal) %>">
    <div class="animal-item">
      <h5 class="tags"><%= animal.tags.join(' ') %></h5>
      <img src="<%= animal.image %>" alt="Lost <%= animal.species %>">
      <h3><%= animal.species %></h3>
      <h4>Found at: <%= animal.location_found %></h4>
      <h4>Currently at: <%= animal.location_current %></h4>
      <h4>Date Found: <%= animal.date_found %></h4>
      <h4>Date Posted: <%= animal.created_at %></h4>
    </div>
  </a>
<% end %>

<script>
let searchInput = document.querySelector('.search-input')
let searchForm = document.querySelector('.search-form')
let results = document.querySelectorAll('.animal-item')

function search(event) {
  event.preventDefault()
  results.forEach(animal => {
    if (event.target.value === "") {
      animal.style.display = "none"
    } else if (animal.firstElementChild.textContent.includes(event.target.value)) {
      animal.style.display = "block"
    } else (
      animal.style.display = "none"
    )
  })
}
searchForm.addEventListener('submit', search)
searchInput.addEventListener('keyup', search)
</script>