<h2 class="page-title">Found Animals</h2>

<div class="search-bar">
  <form action="" class="search-form">
    <input type="text" class="search-input">
    <button>Search</button>
  </form>
</div>

<div class="map-wrapper">
  <div id="mapContainer"></div>
</div>

<div class="results-container">
  <% @found_animals.each do |animal| %>
    <div class="animal-item">
      <p class="tags"><%= animal.tags.join(' ') %></p>
      <div class="item-header">
        <h3><%= animal.species.capitalize %> found in <%= animal.location_found %></h3>
      </div>
      <img src="<%= animal.image %>" alt="Lost <%= animal.species %>">
      <h4>Currently at: <%= animal.location_current %></h4>
      <h4>Date Found: <%= animal.date_found %></h4>
      <h4>Date Posted: <%= animal.created_at %></h4>
    </div>
  <% end %>
</div>

