<h2 class="page-title">Please add the details for the animal you have found</h2>
<%= form_tag found_animals_path, enctype: 'multipart/form-data', method: :post do %>
  <label for="">Incident</label>
  <select name="incident_id" id="">
    <% @incidents.each do |incident| %>
      <option value="<%= incident.id %>"><%= incident.name %></option>
    <% end %>
  </select>
  <label for="">Species</label>
  <select name="species" id="">
    <% @species.each do |species| %>
      <option value="<%= species %>"><%= species.capitalize() %></option>
    <% end %>
  </select>
  <label for="">Date Animal was Found</label>
  <input type="date" name="date_found">
  <label for="">Location Animal was Found</label>
  <input type="text" name="location_found">
  <label for="">Current Location of Animal</label>
  <input type="text" name="location_current">
  <label for="">Image of Animal</label>
  <%# <input type="url" name="image_url"> %>
  <input type="file" name="image">
  <label for="">Health Status</label>
  <select name="health_status" id="">
    <% @health_status.each do |status| %>
      <option value="<%= status %>"><%= status.capitalize() %></option>
    <% end %>
  </select>
  <label for="">Please enter single word tags</label>
  <textarea name="tags"></textarea>
  <button>Add Animal</button>

<% end %>