<h2>Found Animal</h2>
<h3><%= @animal.species %></h3>
<h4><%= @claim.status %></h4>
<h4><%= @animal.incident %></h4>
<img src="<%= @animal.image_url %>" alt="">
<h3><%= @animal.found_date %></h3>
<h3><%= @animal.found_location %></h3>
<h3><%= @animal.posted_date %></h3>
<h3><%= @animal.current_location %></h3>
<p><%= @animal.health_status %></p>
<p>Is this animal yours?</p>
<a href="<%= user_path(@animal.user.id) %>"></a>
<%# <% if %>
<%# if statement that shows an edit button if animal belongs to users %>
<%# else %>
<%# shows a contact user button %>
<%# end %>