<h2 class="page-title">Found Animal</h2>
<h3><%= @animal.species.capitalize %></h3>
<h4><%= @animal.claim_status %></h4>
<h4><%= @animal.incident.name %></h4>
<img src="<%= @animal.image.url %>" alt="">
<h3><%= @animal.date_found %></h3>
<h3><%= @animal.location_found %></h3>
<h3><%#= @animal.date_posted %></h3>
<h3><%= @animal.location_current %></h3>
<p><%= @animal.health_status %></p>
<%# <p>Is this animal yours?</p> %>
<a href="<%= user_path(@animal.user.id) %>">Is this animal yours?</a>
<a href="<%= edit_found_animal_path(@animal) %>">Edit Animal</a>
<%# <% if %>
<%# if statement that shows an edit button if animal belongs to users %>
<%# else %>
<%# shows a contact user button %>
<%# end %>