<div class="show-container">
    <div class="show-header">
        <h3><%= @current_user.name %></h3>
    </div>
    <div class="show-content">
        <h3>Email: <span><%= @current_user.email %></span></h3>

        <div class="show-animals">
            <h3>Lost Animals</h3>
            <% @animals_lost.each do |animal | %>
                <p><%= animal.species.capitalize %> lost in <%= animal.location_lost %></p>
                <img src="<%= animal.image.url %>">
            <% end %>
        </div>
        
        <div class="show-animals">
            <h3>Found Animals</h3>
            <% @animals_found.each do |animal| %>
                <p><%= animal.species.capitalize %> found in <%= animal.location_found %></p>
                <img src="<%= animal.image.url %>">
            <% end %>
        </div>
    </div>
</div>


