<!DOCTYPE html>
<html>
  <head>
    <title>EmergencyAnimalFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h2>Current Incidents</h2>

    <% @incidents.each do |incident| %>
    <p>
    <a href="/incidents/<%= incident.id %>"> <%= incident.name%> </a>
    <% end %>



    </p>
    
    <%= yield %>
  </body>
</html>
