<!DOCTYPE html>
<html>
  <head>
    <title>EmergencyAnimalFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  
   <% @current_user = User.find_by(id: session[:user_id])%>
    <%if @current_user%>

      <p>logged in as ADMIN  <a href='profiles/<%@current_user.id%>'><%= @current_user.name %></p></a>

      <%= link_to "Log out", session_path, method: "delete" %>
      
    <% end %>
    <h2 class="page-title">Current Incidents</h2>

    <div class="incident-container">
      
      <% @incidents.each do |incident| %>

        <a href="/incidents/<%= incident.id %>"> <%= incident.name%> </a>
        <%= form_tag "/incidents/#{incident.id}", method: 'delete' do %>
        <button>delete</button>
        <% end %>
                
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
